{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
      <style>
      </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <title>{% trans 'Hardware Categories' %} | VK Inventory</title>
</head>
<body>
	
	{% include "../base.html" %}	
	{% load static %}
	{% csrf_token %}
	{% if category_hardwares %}
	<h1 style="width:100%;margin-top: 1%;text-align: center;" > {{ category.name }} </h1>	
	<hr class="dropdown-divider" style="margin-top: 1%;">
	
	{% include "./upper-panel.html" %}

		{% if obj_view == 0 %}
			<div class="row" style="width: 95%; margin: auto;">
		{% else %}
			<div class="list-group" style="width: 60%;margin: auto;">
		{% endif %}
      
			  {% for hw in category_hardwares %}
				{% if obj_view == 0 %}
					  <div class="col">
						<div class="card" style="width: 18rem; margin: 2%;">
						  <img src="{% static 'hardware/' %}{{category.name}}/{{ hw.hardware.image_name }}.jpg" class="card-img-top" alt="{{ hw.hardware.name }}"> 
						  <div class="card-body">
							<h5 class="card-title">{{ hw.hardware.name }}</h5>
							
							{% if hw.amount_available > 0 %}
								<div class="card" style="border: 1px solid #adb5bd;width: 50%;text-align: center; background-color: #20C997;"><p style="padding-top: 10%;"><b>{% trans 'In Stock' %}</b></p></div>
							{% else %}
								<div class="card" style="border: 1px solid #adb5bd; width: 50%;text-align: center; background-color: #dc3545"><p style="padding-top: 10%;"><b>{% trans 'Out of Stock' %}</b></p></div>
							{% endif %}
							
							<div class='d-flex flex-row' style="margin: 3px">
								<span class="badge alert-primary" style="margin: 3px">{{ hw.totalquantity  }}</span>
								<span class="badge alert-success" style="margin: 3px">{{ hw.amount_available }}</span>
								<span class="badge alert-danger" style="margin: 3px">{{ hw.amount_empty }}</span>
							</div>
							<a href="{% url 'hardware:hardware_request' category.id hw.hardware.id %}" class="btn btn-primary">{% trans 'Order' %}</a>
						  </div>
						</div>
					  </div>
				{% else %}

					<a href="{% url 'hardware:hardware_request' category.id hw.hardware.id %}" class="list-group-item list-group-item" style="margin: 5px;">
					    <img src="{% static 'hardware/' %}{{category.name}}/{{ hw.hardware.image_name }}.jpg" class="card-img-top" alt="{{ category.name }}" style="width:50px;">
					    {{ hw.hardware.name }}
					    <div class='d-flex flex-row' style="margin: 5px">
							<span class="badge alert-primary" style="margin: 3px">{{ hw.totalquantity  }}</span>
							<span class="badge alert-success" style="margin: 3px">{{ hw.amount_available }}</span>
							<span class="badge alert-danger" style="margin: 3px">{{ hw.amount_empty }}</span>
						</div>
					</a>
					
				{% endif %}
			  {% endfor %}
			  
		   </div>
			
	{% else %}
		<p>{% trans 'Error. Category empty or can not be downloaded!' %}</p>
	{% endif %}
	
</body>
