{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="https://taltech.ee/virumaa">
            <img src="" alt="" width="100" height="76">
            </a>
          <a class="navbar-brand h1" href="#">VK Programming Laboratory</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link  h4" aria-current="page" href="{% url 'home:index' %}">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link  h4" aria-current="page" href="{% url 'hardware:index' %}">Hardware</a>
              </li>

              <li class="nav-item">
                <a class="nav-link  h4" href="{% url 'projects:index' %}">Student projects</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  h4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Explore 
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'guides:index' %}">Online guides</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'explore_online:index' %}">Try live code</a></li>
                </ul>
              </li>
              
              <li class="nav-item">
                  <form action="{% url 'change_language' %}" method="post">
                    {% csrf_token %}
                    <select name="language" class="form-select">
                      {% get_available_languages as LANGUAGES %}
                      {% for language in LANGUAGES %}
                          <option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
                              {{ language.0|language_name_local }} ({{ language.0 }})
                          </option>
                      {% endfor %}
                    </select>
                    <input class="btn btn-success" type="submit" value="Change language">
                  </form>
              </li>

            </ul>
            <!--
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            -->
          </div>
        </div>
</nav>
