{% load static %}
<!--upper-->
	<div class="btn-group upper-panel" role="group" aria-label="">
          <!--info-->
          <div class="card p-1 upper-panel-info">
                <span class="badge alert-primary m-1">Quantity</span><span class="badge alert-success m-1">Available</span>
                <span class="badge alert-danger m-1">Empty</span>
          </div>
          
          <!--search-->
          <div class="upper-panel-search">
            <form class="d-flex" action="{% url 'hardware:hardware_search' %}" method="get">
              <input name="search_query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          
          <!--view choice-->
          <div class="dropdown show upper-panel-choice">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if obj_view == 0 %}
              <img src="{% static 'icons/cardview-icon.jpg' %}" width="50px">
              {% else %}
              <img src="{% static 'icons/listview-icon.jpg' %}" width="50px">
              {% endif %}
            </a>
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'hardware:setview' 0 %}">
                  <img src="{% static 'icons/cardview-icon.jpg' %}" width="50px">Cardview
              </a>
              <a class="dropdown-item" href="{% url 'hardware:setview' 1 %}">
                  <img src="{% static 'icons/listview-icon.jpg' %}" width="50px">Listview
              </a>
            
            </div>
          </div>
        </div>
<!---->
