
body {

	background-color: #FFFDF7 !important;
	
}

.upper-panel{
	width:100%;
	margin:auto;	
}

.upper-panel-info{
	margin: auto;
	vertical-align: middle;
	width: 150px;
	height: 95px;
}

.upper-panel-search{
	margin: auto;
	height:50px;
	vertical-align: middle;
	width: 70%;
}

.upper-panel-choice{
	margin: auto;
	vertical-align: middle;

}

.hardware-card{
	margin: 10px;
	width:350px;
}

@media screen and (max-width: 600px){
	.upper-panel-search{
		width: initial;
	}
}
