
body {

	background-color: #FFFDF7 !important;
	
}

.upper-panel{
	width:100%;
	margin:auto;	
}

.upper-panel-info{
	margin: auto;
	vertical-align: middle;
	width: 150px;
	height: 95px;
}

.upper-panel-search{
	margin: auto;
	height:50px;
	vertical-align: middle;
	width: 70%;
}

.upper-panel-choice{
	margin: auto;
	vertical-align: middle;

}

.hardware-card{
	margin: 10px;
	width:350px;
}
.scope{
	height: 36px;margin-top: 8px;
}
.scope:hover{
	background-color:#f0ad4e;
	color: white;

}
.rooms-item{
	cursor: pointer;height: 40px;padding: 7px;margin: 5px;text-align: center;width: 100px;
}
.rooms-item-chosen{
	background-color: #0275d8!important
}
.rooms-item-nochosen{
	background-color: white!important
}

@media screen and (max-width: 600px){
	.upper-panel-search{
		width: initial;
	}
}
