{% load static %}

{% if selected_proj.available %}
	<div class="card" style="width:95%;margin:auto;">
		
		<h3>{{ selected_proj.name }}</h3>
		
		<div class="row" style="margin: 2%;">
			
		  <div class="col-sm-6">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title"><b>Information</b></h5>
				<p class="card-text">{{ selected_proj.description }}</p>
			  </div>
			</div>
		  </div>
		  
		  <div class="col-sm-6">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title"><b>Connection schema</b></h5>
				<img src="{% static 'projects/schemas/' %}{{ selected_proj.schema_name }}.jpg" width = "100%">
			  </div>
			</div>
		  </div>
		  
		  {% if last_readings %}
		  <div class="col-sm-6">
			<div class="card">
				<h5 class="card-title"><b>Live data</b></h5>
				{% for reading in last_readings %}
					  <div class="card">
							<div class="card-body">
							<h5 class="card-title"><b>Type: {{ reading.value_type }}</b></h5>
							<p class="card-text">Value: {{ reading.value }}</p>
							<p class="card-text"><small class="text-muted">Last updated {{ reading.date }}</small></p>
							</div>
						</div>
				{% endfor %}
			</div>
		  </div>
		  {% endif %}
		  
		  <div class="col-sm-6">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title"><b>Hardware</b></h5>
				{% for projecthardware in selected_proj.projecthardware_set.all %}
					<p class="card-text"><b>Name: {{ projecthardware.hardware.name }}</b> / Quantity: {{ projecthardware.quantity }}</p><br>
				{% endfor %}
			  </div>
			</div>
		  </div>
		  
		  
		  
		</div>
	</div>
	
{% else %}

	<h3> Project is not represented.</h3>
	
{% endif %}
